﻿/* _GENERAL */
/* Paleta fría

1). #0C4271: Header

2). #F9DFDC: Body

3). #000000: Footer

Tipografía
Tipo de letra: Uchen
 */

/* _GENERAL*/

/*_BODY CART*/
body.cart {
    background-image: url('..no/images/cart-tablet.jpg');
    background-position-y: 34px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    border: solid 1px;
}

body.cart main div.container div.cart-ayuda-box a {
    color: black;
}



/*_MAIN */
body.cart main {
    max-width: 607px;
    margin: auto;
    box-shadow: inset 0 -11px 12px 2px darkblue;
    overflow: hidden;

}



/*_CONTAINER */
body.cart div.container {
    max-width: 90%;
    margin: auto;
}

/*_________________________________BLOCK 1 */

/*_BUYING */
body.cart main div.container div.buying {
    display: flex;
    justify-content: space-between;
    height: 77px;
}

/*_CART */
body.cart main div.container div.buying div.cart {
    display: flex;
    flex-direction: column;
    height: 93px;
    justify-content: center;
    min-width: 140px;
    margin-right: 7px;
}

body.cart main div.container div.buying div.cart h4 {
    margin: -4px 0 5px;
}

body.cart main div.container div.buying div.cart span {
    margin: 6px 0 -14px;
}

/*_PAY */
body.cart main div.container div.pay {
    position: relative;
    width: 50%;
}

body.cart main div.container div.pay a {
    margin: 42px 0% 13px 0%;
    color: white;
    font-size: 12px;
    padding: 9px;
    background-color: black;
    display: block;
    border-radius: 5px;
}

body.cart main div.container div.pay span.arrow {
    color: white;
    font-size: 27px;
    position: absolute;
    right: 3%;
    top: 45px;
}

/* _______________________________BLOCK 2 */

/*_DESCRIPTION-PRODUCT */
body.cart main div.container div.description-product {
    display: flex;
    height: 207px;
    align-items: center;
}

/*_IMG-PRODUCT */
body.cart main div.container div.description-product div.img-product {
    min-width: 140px;
    max-width: 140px;
    overflow: hidden;
}

body.cart main div.container div.description-product div.img-product img {
    width: 91%;
    position: relative;
}

/*_DESCRIPT */
body.cart main div.container div.description-product div.descript {
    margin-left: 7px;
    width: 100%;
}

body.cart main div.container div.description-product div.descript ul {
    display: flex;
    height: 137px;
    flex-direction: column;
    justify-content: space-between;
}

body.cart .cart-descript-li {
    display: flex;
}

body.cart .cart-descript-li {
    justify-content: space-between;

}

body.cart .cart-cant-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.cart .cart-cant-in {
    width: 77px;
    border-radius: 0;
    height: 33px;
}

body.cart .cart-gopay-in {
    display: none;
}


/* _______________________________BLOCK 3 */

/* _DISCOUNT-CODE */
body.cart main div.container form.discount-code {
    position: relative;
    height: 58px;
}

/* _INPUT */
body.cart main div.container form.discount-code input {
    width: 100%;
    height: 43px;
    padding-right: 45px;
}

/* _BUTTON */
body.cart main div.container form.discount-code button {
    background: none;
    border: 0;
    font-size: 40px;
    position: absolute;
    right: 3%;
}

/* _______________________________BLOCK 4 */
/* _ORDER */
body.cart main div.container div.order {
    height: 155px;
}

body.cart main div.container div.order ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 133px;
}

body.cart main div.container div.order ul li {
    display: flex;
    justify-content: space-between;
}

/* _AYUDA */
/* _DESKTOP */
body.cart .cart-ayuda-box {
    display: none;
}

/* _______________________________BLOCK 5 */

/* _PAY2 */
body.cart main div.container div.pay2 a {
    color: white;
    padding: 12px;
    background-color: black;
    display: block;
    position: relative;
    border-radius: 5px;
    font-weight: bold;
}

/* _ARROW2 */
body.cart main div.container div.pay2 span.arrow2 {
    color: white;
    font-size: 27px;
    position: absolute;
    right: 4%;
    top: 3px;
}

body.cart main div.container div.pay2 div.pay-method {
    margin-top: 18px;
}

/* _PAY-METHOD IMG */
body.cart main div.container div.pay2 div.pay-method img {
    display: block;
    width: 100%;
    margin-top: 5px;
    image-rendering: pixelated;
}






body.cart footer {
    background-color: #000;
    height: 100px;
}




































@media(min-width: 1024px) {

    /* _BODY */
    /* _BACKGROUND */
    body.cart {
        background-image: url('..NO/images/cart-desktop.jpg');
        background-position-y: 18px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        font-size: 19px;
    }

    /* _MAIN */
    body.cart main {
        height: 47rem;
        max-width: 100%;
    }

    /* _BLOCK 1 */
    /* TU CARRITO */
    body.cart .cart-tucarrito-h4 {
        font-size: 27px;
    }

    /* _BLOCK 2 */
    /* DESCRITP PRODUCT */
    body.cart main div.container div.description-product {
        height: inherit;
        align-items: inherit;
        margin-top: 10px;
    }

    /* _BLOCK 2 */
    /* _DESCRIP UL */
    body.cart main div.container div.description-product div.descript ul {
        height: 187px;
    }

    /* _BLOCK 2 */
    /* _DESCRIPT */
    body.cart main div.container div.description-product div.descript {
        width: 39%;
        margin: 14px 0 0 2%;
    }

    /* _BLOCK 2 */
    /* IMG PRODUCT */
    body.cart main div.container div.description-product div.img-product {
        /* min-width: 140px; */
        max-width: inherit;
        /* overflow: hidden; */
        width: 27%;
        margin-left: -18px;
    }

    /* _BLOCK 2 */
    /* _PORDUCT IMG */
    body.cart main div.container div.description-product div.img-product img {
        width: 100%;
        /* position: relative; */
        /* left: -22px;*/
    }


    /* _BLOCK 1 */
    /*_PAY */
    body.cart main div.container div.pay {
        position: relative;
        width: 30%;
    }

    /* _BLOCK 3 */
    /* _DISCOUNT-CODE */
    body.cart main div.container form.discount-code {
        width: 27%;
        margin-left: 73%;
        position: absolute;
        top: 373px;
        left: -5%;
    }

    /* _BLOCK 4 */
    /* _ORDER */
    body.cart main div.container div.order {
        height: 155px;
        width: 27%;
        margin-left: 73%;
        position: absolute;
        top: 207px;
        left: -5%;
    }

    /* _BLOCK 4 */
    /* _AYUDA */
    /* _DESKTOP */
    body.cart .cart-ayuda-box {
        display: block;
        position: absolute;
        top: 421px;
        left: 68%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 167px;
    }



    /* _BLOCK 5 */
    /* _PAY2 A */
    body.cart main div.container div.pay2 a {
        width: 40%;
    }

    /* _PAY2 */
    body.cart main div.container div.pay2 div.pay-method {
        position: absolute;
        left: 68%;
        top: 573px;
        width: 28%;
    }

    body.cart main div.container div.pay2 div.pay-method img {
        margin-top: 5%;
        width: 120%;
        margin-left: -8%;
    }


    /* _PAY2 */
    body.cart .pay2 {
        margin-top: 1%;
    }














}